# Ignore object files
*.o

# Ignore dependency files
*.d

# Ignore build directory
build/

# Ignore all .log files in any directory
*.log
*.out
*.fls
*.aux
*.synctex.gz
*fdb_latexmk

# Ignore all files in a specific directory but keep the directory itself
logs/*
!logs/.gitkeep

# Ignore all files in a specific directory except for .gitignore
logs/*
!logs/.gitignore