# Ignore object files
*.o

# Ignore dependency files
*.d

# Ignore build directory
build/

.vscode/

# Ignore all .log files in any directory
*.log
*.out
*.fls
*.aux
*.synctex.gz
*fdb_latexmk
*.old

#ignore secrets file
secrets.h

sdkconfig

.DS_Store

# Ignore all files in a specific directory but keep the directory itself
logs/*
!logs/.gitkeep

# Ignore all files in a specific directory except for .gitignore
logs/*
!logs/.gitignore